<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Qship Transports</title>
 <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
 
 <style>
 input{margin:10px;}
 .header{
 background-color:#383838;
 color:#ebebeb;
 padding:30px;
 }
 
  .headersm{
 background-color:#383838;
 color:#ebebeb;
 padding:10px;
 }
 
 
 
 </style>
</head>
<body >

<div class="text-center header">
<h1>Admin Deck</h1>

</div>
<hr>

<div class="container">




<form method="get" action="logout">
<input class="btn btn-dark btn-lg" type="submit" value="LogOut">
</form>
<hr>


<div>
<div class="text-center headersm">
<h3>Add Employee Data</h3>
</div>

<form class="form-inline" action="eadata" method= get>
<div class="form-group"><label >Id:</label><input class="form-control" type="number" name="eid"></div>
<div class="form-group">NAME: <input class="form-control" type="text" name="name"></div>
<div class="form-group">DOB:<input class="form-control" type="text" name="dob" ></div>
<div class="form-group">PH NO:<input class="form-control" type="text" name="phone"></div><br>
<div class="form-group">ADDRESS<input class="form-control" type="text" name="address" ></div><br>
<div class="form-group">BRANCH<input class="form-control" type="text" name="branch"></div><br>
<br>
<input class="btn btn-dark btn-lg" type="submit" value="ADD"/>

</form>
</div>




<hr>



<div>
<div class="text-center headersm">
<h3>Add Truck Data</h3>
</div>
<form class="form-inline" action="tadata" method= get>


<div class="form-group"><label>Id:</label> <input class="form-control" type="number" name="tid"></div>
<div class="form-group"><label>REG NO:</label> <input class="form-control" type="text" name="regno"></div>
<div class="form-group"><label>ORIGIN:</label><input class="form-control" type="text" name="departedFrom" ></div>
<div class="form-group"><label>DESTINY:</label><input class="form-control" type="text" name="arrivalAt"></div>
<div class="form-group"><label>DRIVER:</label><input class="form-control" type="text" name="driver" ></div>

<br>
<input class="btn btn-dark btn-lg" type="submit" value="ADD">

</form>
</div>

<hr>



<div>


<div>
<div class="text-center headersm">
<h3>Delete Truck data</h3>
</div>
<form class="form-inline" method="get" action="dtdata">
<div class="form-group"> <label>truck Id:</label><input class="form-control" type="number" name="dtid"><br></div>

<input class="btn btn-dark btn-lg" type="submit" value="DELETE">
</form>
</div>


<div>
<div class="text-center headersm">
<h3>Delete Employee data</h3>
</div>
<form class="form-inline" method="get" action="dedata">

 <div class="form-group"> <label>Employee Id:</label><input class="form-control" type="number" name="deid"><br></div>

<input class="btn btn-dark btn-lg" type="submit" value="DELETE">
</form>

</div>

<hr>

<form method="get" action="fetchemp">
<h4>Display all employees</h4>
<input class="btn btn-dark btn-lg" type="submit" value="Fetch">
</form>

<form method="get" action="fetchtrx">
<h4>Fetch all truck's data</h4>
<input class="btn btn-dark btn-lg" type="submit" value="Fetch">
</form>

</div>

</div>
</body>


</html>